/* @media(min-height:1366px){
    .nav-container{
        height: 29vh;
    }
    .navbar{
        width: 87%;
    }

    .btn{
        font-size: 0.9rem;
    }

    .pic img{
        width: 140%;
    }

    .pic{
        margin-top: 198px;
    }
}
 */



@media(max-height:538px),(max-width:1024){
    .navbar{
        width: 90%;
        padding: 10px 50px;
    }

    .menu{
        padding-left: 180px;
    }

    .pic img{
        width: 140%;
    }

    .pic{
        margin-top: 172px;
        /* margin-right: 90px; */
    }

    .btn{
        font-size: .9rem;
    }

    .intro{
        width: 40%;
        /* min-height: 335px; */
        /* border: 2px solid rgb(74, 13, 241); */
        padding: 15px;
        margin-top: 20px;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .para{
        word-spacing: 1px;
        margin-right: 0;
    }

    .nav-container h3{
        font-size: 1.3rem;
    }
    .nav-container h1{
        font-size: 3.2rem;
    }


    .about-para{
        margin: 0rem;
        /* border: 2px solid rgb(74, 13, 241); */
    }

    .about p{
        font-size: .9rem;
        line-height: 1.6;
        margin-bottom: 1.2rem;
    }
}

@media(max-width:768px){

    .navbar{
        padding: 10px 0;
    }

    .pic img{
        width: 130%;
    }

    .pic {
        margin-top: 186px;
    }

    .menu a{
        /* display: none; */
        display: inline;
    }

    #mainBar{
        display: block;
    }

    .menu{
        display: none;
    }

    .menu a{
        color: var(--primary)
    }

    .menu a:hover{
        color: white;
    }


    ul{
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        top: 80px;
        left: 0;
        text-align: center;
        z-index: 1;
        transition: all .5s ;
    }

    .menu ul li {
        margin: 25px 0;
        line-height: 30px;
    }

    .nav-container h1{
        font-size: 2.2rem;
        line-height: 0.9;
        font-weight: 400;
        margin-bottom: .8rem;
        letter-spacing: 3px;
    }

    .nav-container h3{
        font-size: 1rem;
        margin: .3rem 0;
        letter-spacing: 4px;
    }

    .para{
        font-size: .7rem;
        line-height: 1.4;
        margin-bottom: .9rem;
        /* margin-right: 0rem; */
        letter-spacing: 1px;
        word-spacing: 1px;
    }

    .intro{
        flex: 1;
        /* border: 2px solid white; */
        margin-left: 1rem;
        padding: 0px;
        margin-top: 80px;
        margin-right: -2rem;
    }

    .nav-container{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 0px 75px;
            /* border: 2px solid white; */
    }

    .about {
        height: 885px;
    }


    .inside-about {
        flex-direction: column;
        align-items: center;
        margin-top: 13rem;
    }

    .about-para {
        width: 100%;
    }

    .about p {
        font-size: 0.8rem;
    }

        .about h1 {
            width: 154px;
            margin: 0 auto;
        }

        .about h3 {
            font-size: 1.5;
            width: 275px;
            margin: 0.7rem auto;
        }

    .about .about-pic {
        width: 51%;
    }

    .socials {
        font-size: 1.5rem;
        width: 230px;
        margin: 0 auto;
    }


    .contact{
        padding: 50px;
        padding-top: 20px;
    }

    .container{
        flex-direction: column;
    }


    .contactForm {
        width: 100%;
        margin-top: 40px;
        height: 80vh;
    }

    .container .contactInfo{
        width: 100%;
    }

    .container .contactInfo .text{
        font-size: 13px;
    }

    .contact .content h2 {
        font-size: 32px;
        margin: 0px 0;
        margin-bottom: 12px;
    }

    .contact .content p {
        font-size: .7rem;
    }

    footer img {
        width: 35px;
    }

    .copyright {
        font-size: 0.8rem;
        margin-top: 4px;
    }
}


@media(max-width:425px){
    .intro{
        margin-left: 2rem;
        margin-top: 113px;
        margin-right: -17rem;
    }

    .btn {
        font-size: .7rem;
    }

    .nav-container {
        padding: 0px 22px;
        max-height: 65vh;
    }

    .nav-container h1 {
        font-size: 2rem;
    }

    .pic {
        margin-top: 166px;
    }

    .about .about-pic {
        width: 80%;
    }
    
    .about {
        height: 905px;
    }

    .copyright {
        font-size: 0.7rem;
    }
}

@media(max-width:414px){
    .nav-container {
        padding: 0px 16px;
        max-height: 50vh;
    }

    .pic {
        margin-top: 183px;
    }

    .contactForm{
        margin-top: 20px;
    }

    .inside-about{
        margin-top: 9.5rem;
    }
}

@media(max-width:375px){
    .pic {
        margin-top: 163px;
    }

    .nav-container{
        max-height: 52vh;
    }
    
}



@media(max-width:360px){

    .pic {
        margin-top: 154px;
    }

    .pic img {
        width: 125%;
    }

    .nav-container h1 {
        font-size: 1.7rem;
    }

    .nav-container h3 {
        font-size: 0.8rem;
    }

    .para {
        font-size: .6rem;
        line-height: 1.3;
        margin-bottom: .7rem;
    font-weight: 600;
    }

    .btn {
        font-size: .6rem;
        padding: 5px 7px;
    }

    .nav-container {
        max-height: 55vh;
    }

    .about {
        height: 935px;
    }

    .inside-about{
        margin-top: 10rem;
    }

    .contact {
        padding: 18px 30px;
    }

    .intro {
        margin-left: 0rem;
        margin-right: -18rem;
    }
}


@media(max-width:320px){
    .pic img{
        width: 120%;
    }

    .pic {
        margin-top: 125px;
    }

    .intro{
        margin-top: 96px;
    }

    .about {
        height: 890px;
    }
}



@media(min-height:890px){
       
    .nav-container {
        /* padding: 0px 22px; */
        max-height: 47vh;
    }

    .pic img {
        width: 147%;
    }

    .pic {
        margin-top: 208px;
    }

    .about {
    height: 960px;
}

}